/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
.video-toolbar .function-buttons a {
    .btn(white);
    font-size: 12px;
    font-weight: @weight-semibold;
    padding: 6px;
    display: inline-block;

    // Function Icons
    @pseudo-position: before;
    @display-value: inline;
    @margin: 0 4px 0 0;
    @padding: 0;
    @color: inherit;
    @font-size: 12px;
    @font-weight: normal;
    @line-height: 1;

    &.cut {
        .fa-icon(@fa-trash, @pseudo-position, @display-value, @margin, @padding, @color, @font-size);
    }

    &.split {
        .fa-icon(@fa-scissors, @pseudo-position, @display-value, @margin, @padding, @color, @font-size);
    }

    &.replay {
        .fa-icon(@fa-refresh, @pseudo-position, @display-value, @margin, @padding, @color, @font-size);
    }

    &.switch-feed {
        .fa-icon(@fa-exchange, @pseudo-position, @display-value, @margin, @padding, @color, @font-size);
    }

    &.undo {
        .fa-icon(@fa-rotate-left, @pseudo-position, @display-value, @margin, @padding, @color, @font-size);
    }

    &.redo {
        .fa-icon(@fa-rotate-right, @pseudo-position, @display-value, @margin, @padding, @color, @font-size);
    }

    &.clear-segments {
        .fa-icon(@fa-trash, @pseudo-position, @display-value, @margin, @padding, @color, @font-size);
    }
}
