/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
.date-picker {

    &.popover{

        .btn-dd-content-mixin(520px);
        left: auto;
        right: 0;
        height: 320px;
        z-index: @max-z;

        .dates {
            clear: both;
            position: relative;

            > label {
                .box-sizing();
                font-size: 22px;
                font-weight: 100;
                margin: 0 20px;
                width: 215px;
                text-align: center;
            }

            .start { float: left; }

            > span {
                position: absolute;
                top: 3px;
                left: 50%;
                color: @black-20;
                margin-left: -7px;
                text-transform: uppercase;
            }

            .end { float: right; }

        } // dates

        // Set arrow position
        &:after, &:before { left: 20px; }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .dashboard-container & {
        visibility: visible;
        opacity: 1;
        position: static;
        max-width: 100%;
        height: intrinsic;
        border-bottom: none;
    }

} // date-picker
