/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
&#add-email-template-modal {

    // Different tabs
    [data-modal-tab-content="recipients"] {

        .remove-btn-container {
            height: 50px;
            border-top: 1px solid @main-border-color;
        }

        .red-btn {
            margin: 10px 10px 0 0;
            display: inline-block;
            float: right;
            padding: 7px 10px;
        }

        .add-recip-input-container {

            margin-top: 10px;

            > input {
                margin: 0 10px 0 0;
                width: 200px;
            }

            .add-btn { padding: 8px 20px; }

        } // add-recip-input-container

    } // recipients

    [data-modal-tab-content="message"] {

        .input-block {
            margin-bottom: 15px;
        }

        .drop-down-container,
        input[type="text"],
        textarea {
            width: 360px;
            margin-bottom: 0;
        }

        .text-variables {
            float: right;
            width: 190px;

        }

    } // message

    // Pager Container
    .pager-container {

        height: 30px;

        .next { float: right; margin-right: 20px; }

    } // pager-container

} // send-message


// Set sizes for action modals on event view
&#send-message-modal, &#change-status-modal, &#delete-events, &#add-email-template-modal {
    &:extend(.small-modal);
}
