/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
.modal {

    &#add-event-modal,
    &#user-blacklist-modal,
    &#location-blacklist-modal,
    &#add-series-modal {

        // Modal Size
        &:extend(.medium-modal);

        .day-check-container {
            display: inline-block;
            text-align: center;
            line-height: 15px;
            margin-right: 10px;
        }

        .fa-calendar-o,
        .fa-plus-circle {
            font-size: 14px;
            margin: 0;
            margin-left: 5px;
            display: inline-block;
            float: none;

            &:hover {
                color: @l-blue;
            }
        }

        .fa-plus-circle {
            color: @green;

            &:hover {
                color: lighten(@green, 5%);
            }
        }

        // Show and Hide sections
        .source-type-content {
            display: none;

            &.active {
                display: block;
            }
        }

    } // new event & series modals
} // modal
